<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>英単語クイズ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>英単語クイズ</h1>

        <p class="subtitle">4択で楽しく英単語を覚えよう！</p>

        <div class="menu">

            <a class="choice" href="/start/10">
                10問に挑戦
            </a>

            <a class="choice" href="/start/100">
                100問に挑戦
            </a>

        </div>

        <p class="description">
            TOEIC対策にもおすすめ！
        </p>

    </div>

</body>
</html>
